body
  {background-color: gray}
h1
  {color: blue}
footer
  {margin-top: 20px}
img
  {border-radius: 10px}
#Contenedor
  {font-family: helvetica;
  font-size: 16px; }
#Encabezado
  {display: block;
  margin: 0 auto;}
.itemindice
  {list-style-type: upper-roman;}
.enlace
  {color: red; }
